<header class="header" id="header">
    <div class="head-top">
        <div class="site-name">
            <span>
                BIG BABA
            </span>
        </div>
        <div class="site-nav">
            <span id="nav-btn"> HERE BABA <i class="fas fa-bars"></i></span>

        </div>
    </div>
    <div class="head-bottom flex">
        <h2>NICE AND COMFOTABLE PLACE TO STAY</h2>
        <p>
            we are serve you with love and smile and the most important thing for us is your satsification about us hope
            you feel our hospitalty
        </p>
        <button type="button" class="head-btn">GET STARTED</button>
    </div>

</header>