<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="main.js"></script>
    <link rel="stylesheet" href="styles.css">

    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>


<body id="body">
    <%- include("./partials/header") %>
        <div class="form-container">

            <form action="/login" method="POST">


                <h3>login</h3>



                <input type="email" name="email" placeholder="Enter your email" class="box" required>
                <input type="password" name="password" placeholder="Enter your password" class="box" required>
                <select name="role" class="box">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>

                <input type="submit" name="submit" value="login now " class="btn">
            </form>
            <div>
                <% if (typeof error !=='undefined' && error !==null) { %>
                    <p class="error-message">
                        <%= error %>
                    </p>
                    <% } %>
            </div>
        </div>
        <%- include("./partials/footer") %>
</body>

</html>